/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*header start*/
header {
    padding: 9px;
}
.img-fluid {
    max-width: 77%;
    height: auto;
}
.nt {
    font-size: 13px; 
}
menu_1 ul li a {
    font-size: 18px;
}
/*header end*/
/*slider start */
.slider {
    padding: 15px;
}
.car_text {
    margin-top: -24%;
}
.cid {
    bottom: -11%;
}
.car_text h1 {
    margin-bottom: 6px;
    font-size: 22px;
}
.car_text h2 {
    margin-bottom: 7px;
    font-size: 17px;
}
.car_text p {
    margin-right: 0px;
    margin-bottom: 15px;
    color: #555555;
}
.icon li i {
    font-size: 28px;
}
.cid [data-bs-target] {
    width: 9px;
    height: 9px;
   
}
/*slider end*/
/*feature start*/

.features {
    padding-top: 50px;
    padding-bottom: 70px;
}

.cm_h1 {
    font-size: 25px;
    
}
.cm_text {
    font-size: 17px;
}
.s_feature {
    margin-top: 30px;
    text-align: center;
}
.f_icon i{
    font-size: 40px;
    
}
/*feature end*/
/*contact start*/
.contact {
    padding-top: 50px;
    padding-bottom: 70px;
}
/*contact end*/
/*footer start*/
footer{
    padding-bottom: 70px;
}
.f_1{
    
text-align: center;
}
.f_2{margin-top: 30px;
    text-align: center;

}

 }

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*header start*/
header {
    padding: 9px;
}
/*header end*/
/*slider start */
.slider {
    padding: 35px;
}
.car_text {
    margin-top: 15px;
}
.cid {
    bottom: -17%;
}
.car_text h1 {
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 27px;
}
.car_text h2 {
    margin-right: 0%;
    margin-bottom: 9px;
    font-size: 18px;
}
.car_text p {
    margin-right: 5px;
    margin-bottom: 15px;
    color: #555555;
}
.icon li i {
    font-size: 28px;
}
/*slider end*/

/*feature start*/

.features {
    padding-top: 50px;
    padding-bottom: 70px;
}

.cm_h1 {
    font-size: 25px;
    
}
.cm_text {
    font-size: 17px;
}
.s_feature {
    margin-top: 30px;
    text-align: center;
}
.f_icon i{
    font-size: 40px; 
}

/*feature end*/
/*contact start*/
.contact {
    padding-top: 50px;
    padding-bottom: 70px;
}
/*contact end*/
/*footer*/
footer{
    padding-bottom: 70px;
}
.f_1{
    margin-bottom: 30px;
text-align: center;
}
.f_2{
    text-align: center;

}

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
 /*header strart*/
.menu_1 ul li a {
    padding: 10px 0 0 0 !important;
    text-align: right; }

/*header end*/

/*slider start*/
.slider {
    padding: 25px;
}
.cid {
    bottom: -40px;
}
.car_text h1 {
    margin-top: 19px;
    margin-bottom: 15px;   
}
.car_text h2 {
    margin-bottom: 10px;
    font-size: 18px;
}
.car_text p {
    margin-bottom: 16px;
}
.icon li i {
    font-size: 33px;
}


/*slider end*/

/*feature start*/

.features {
    padding-top: 80px;
    padding-bottom: 100px;
}
.s_feature {
    margin-top: 45px;
}


/*feature end*/
/*contact start*/
.contact {
    padding-top: 80px;
    padding-bottom: 100px;
}
.cm_form{
    margin-top: 40px;
    margin-bottom: 45px;
}
/*contact end*/

}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

 }

/* Extra Large devices (desktops, 992px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 

}


 /*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 

}