/*font family*/
@font-face{
	font-family: PTSans-Regular;
	src: url(../font/PT_Sans/PTSans-Regular.ttf);
}

@font-face{
	font-family: PTSans-Bold;
	src: url(../font/PT_Sans/PTSans-Bold.ttf);
}



/*common css start*/
body{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #010101;
}
/*common css end*/


/*header start*/
header{
	    background-color: #fcdb00;
       padding: 18px;
}

.menu_1 ul li a {
	  font-size: 22px;
    font-weight: 700;
    color: #010101 !important;
    padding: 0 45px !important;
}

.menu_1 ul li:last-child a{
	padding-right: 0 !important;
}

.menu_1 ul li a:hover{
	color: white !important;
}

/*header end*/

/*slider start*/
.slider{
	background-color: #fcdb00;
	padding: 100px;
}
.car_text{
	  margin-top: 65px;
}
.car_text h1{
	 margin-top: 65px;
	 margin-bottom: 20px;
   font-family: 'PT Sans', sans-serif;
   font-size: 32px;
   font-weight: 700;
}
.car_text h2{
	margin-right: 61px;
	margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #313841;

}

.car_text p{
	margin-right: 40px;
	margin-bottom: 35px;
	color: #555555; 
}

.icon{}
.icon li{
	    margin-right: 25px !important;
}
.icon li i{
	font-size: 42px;
}

/*indicators*/
.cid {
    bottom: -80px;
}


.cid [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/*slider end*/


/*features start*/
.features{
	padding-top: 100px;
	padding-bottom: 120px;
}
.cm_tittle{}
.cm_h1{
	font-size: 32px;
   font-weight: 700;
}
.s_feature{
	margin-top: 65px;
	
}
.cm_text{
	margin: 10px;
	font-size: 20px;
	color: #313841;  
}
.f_icon {
    margin-top: 5px;
}
.f_icon i{
	font-size: 50px;
	transition: .3s;
}
.f_icon i:hover{
	transform: scale(.8);
}
.f_text{}
.f_text h2{
	    font-size: 22px;
    font-weight: 400;
}
.f_text p{
	    color: #898989;
}

/*features end*/

/*contact start*/
.contact{
	background-color: #010101;
	padding-top: 100px;
	padding-bottom: 120px;
}
.yellow{
	color: #fcdb00;
}
.ash{
	color: #898989;
}
.c_form{
	margin-top: 40px;
	margin-bottom: 70px;
}
.u_email{
	width: 100%;
	height: 50px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #898989!important;
    padding: 10px 25px;
    border: none;
}
.u_email:focus {
    color: #898989!important;
    background-color: #fff;
    border-color: none;
    outline: none;
    box-shadow: none;
}
.u_submit{
	background-color: #fcdb00;
	width: 100%;
	height: 50px;
	font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #010101;
    text-transform: uppercase;
}
.u_submit:focus {
    outline: 0;
    box-shadow: none;
}
.u_submit:hover {
	background-color: white;
	transition: .3s;
}
.c_icon{

}
.c_icon ul li{
margin-right: 25px !important;
} 
.c_icon ul li:last-child {
margin-right: 0 !important;
} 
.c_icon ul li a {
width: 37px;
height: 37px;
background-color: #fcdb00;
display: inline-block;
border-radius: 5px
}
.c_icon ul li a i {
font-size: 35px;
color: #010101;
}
.c_icon ul li a:hover{
background-color: white;
}
/*contact end*/

/*footer start*/
footer{
	background-color: #010101;
	padding-bottom: 120px;
}
.f_1{
color: white;
}

.f_2{

}
.f_2 ul li a{
text-decoration: none;
color: white;
}
/*footer end*/






